.projects{
    padding-block: 2.5rem;
    padding-inline: 8rem;
}

.projects h1{
    font-size: 5.75rem;
    text-align: center;
    padding-bottom: 2.5rem;
    font-weight: 200;
}.projects span{
    font-weight: 900;
    text-decoration: underline;
}

.cards-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}